* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(/assets/pexels-alex-conchillos-3745234.jpg);
    background-repeat: repeat-y;
    background-size: 100% ;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: block;
    margin: 300px auto;
    font-size: 80px;
    color: rgb(0, 0, 0);
    padding: 30px;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    
    
}

